.nav-links.active img{
    transform: rotate(180deg);
}

.nav-links.active .dropdown-content{
    display: block;
}




.header-mobile.active .mobile-menu{
    display: block;
}

.header-mobile.active .mobile-menu .nav-links{
    display: block;
}



.active{
    display: block;
}




































































































