.footer{
    background-color: $very-dark-black-blue-footer-BG ;
    color: $grayish-blue-footerText;
    border-top-right-radius: 70px;
    display: grid;
    padding: 2rem 7rem 4rem;
    grid-template-columns: repeat(4, 1fr);
    
    @include mobile{
        grid-template-columns: 1fr;
        padding: 3rem 0;
        text-align: center;
    }
    h4{
        margin-bottom: 2rem;
        color: $white-text;
        opacity: 0.8;
        @include mobile{
            
                margin-top: 2rem;

            

        }
    }
    li{
        a{
            display: inline-block;
            color: $grayish-blue-footerText;
            line-height: 1.6;
            transition: all 300ms ease-in;
            &:hover{
                text-decoration:underline;
            }
        }
    }
}